.ik_select{
	font-size: 14px;
    height: 36px;
}
.ik_select_link{
	position: relative;
	height: 34px;
	padding: 0 20px;
    border: 1px solid #D9D3CA;
	background:#ffffff;

	-webkit-transition:all 0.1 linear;
	-moz-transition   :all 0.1 linear;
	-ms-transition    :all 0.1 linear;
	-o-transition     :all 0.1 linear;
	transition        :all 0.1 linear;
}
.ik_select_link:hover{

}
.ik_select_link.ik_select_link_focus{

}
.ik_select_link_text {
    color: #058899;
    line-height: 34px !important;
}
.ik_select_link_text:hover {
    color: #EE3C70;
}
.ik_select_link_text:before{
    content:"";
    position:absolute;
    width: 9px;
    height: 9px;
    top:14px;
    right:10px;
    background: url("/i/sprite.png") -312px -200px no-repeat;
}
.ik_select_link_text:hover:before{
    background: url("/i/sprite.png") -330px -200px no-repeat;
}

.ik_select_block{
	margin-top:0px;
}
.ik_select_list{
    position: relative;
}
.ik_select_list:after{
    content:"";
    position:absolute;
    width: 9px;
    height: 9px;
    top:14px;
    right:10px;
    background: url("/i/sprite.png") -321px -200px no-repeat;
}

.ik_select_list li{
    padding:0 20px;
    color: #807D78;
    line-height: 34px;
}
.ik_select_optgroup_label{
    padding:0 20px;
    color: #807D78;
    line-height: 34px;
}
.ik_select_optgroup li{
    padding-left:42px;
}
.ik_select_list li.ik_select_hover{
    color:#058899;
}
.ik_select_link_disabled{
	box-shadow:none;
}

.ik_select_filter_wrap{
	padding:0 4px 4px;
}
.ik_select_filter{
	height:20px;
	padding:0 5px;
	border:none;
}
.ik_select_filter:focus{
	outline:none;
}
.ik_nothing_found {
	padding:0 5px;
}
