.filter_block {
    height: 36px;
    font-size: 14px;
    color: #807d78;
    margin: 0 0 40px;
    position: relative;
    z-index: 2;
}
.filter_block label {
    float: left;
    margin-right: 30px;
    height: 36px;
    line-height: 36px;
}
.filter_block .select {
    float: left;
    margin-right: 30px;
}
.filter_block .custom-select {
    height: 36px;
}
.filter_block .sort_by {
    width: 160px;
}
.filter_block .sort_items {
    width: 110px;
}
.filter_block .paginator {
    width: 110px;
    margin: 0;
}
.filter_block .paginator_prev,
.filter_block .paginator_next {
    position: relative;
    left: auto;
    right: auto;
}

.catalog {
    position: relative;
    z-index: 1;
}
.filter_block + .catalog {
    padding-top: 15px;
}

/* Catalog Item */
.item {
    height: 365px;
    width: 317px;
    padding: 4px 3px 0;
    background: #fff;
    border: 1px solid #D9D3CA;
    text-align: left;
    position: relative;
    margin: 0 0 70px;
}
.column_small .item {
    height: 230px;
    width: 217px;
    padding: 2px 2px 0;
    margin: 0 0 30px;
}
.item:hover {
    background: #feecf2;
}
.item_img {
    position: relative;
    margin: 0 0 20px;
}
.column_small .item_img {
    margin: 0 0 15px;
}
.item_img,
.item_img img {
    display: block;
    border: none;
    position: relative;
    z-index: 2;
}
.item_img,
.item_img img,
.item_img .overlap,
.item_img .overlap:after {
    width: 317px;
    height: 195px;
}
.column_small .item_img,
.column_small .item_img img,
.column_small .item_img .overlap,
.column_small .item_img .overlap:after {
    width: 217px;
    height: 140px;
}
.item_img .overlap {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    opacity: 0;

    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;

    font-size: 20px;
    line-height: 195px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
.column_small .item_img .overlap {
    line-height: 140px;
}
.item_img .overlap:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: #000;
}
.item_img:hover .overlap {
    opacity: 1;
}
.item_img:hover .overlap:after {
    opacity: 0.6;
}
.item_name {
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    color: #07899a;
    display: inline-block;
    margin: 0 0 12px;
    padding: 0 25px;
}
.column_small .item_name {
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 10px;
    padding: 0 15px;
}
.item p {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: #363636;
    padding: 0 25px;
}
.item p span {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
}
.item .action {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 12px 0 0 0;
    height: 48px;
    margin: 0;
    border-top: 1px solid #D9D3CA;
    text-align: left;
}
.column_small .item .action {
    padding: 0;
    height: 46px;
    border-top: none;
}
.item_descr .action {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 12px 0 0 0;
    height: 48px;
    margin: 0;
    text-align: left;
}
.item .action .left_half,
.item_descr .action .left_half {
    font-weight: 600;
}
.item .action .left_half span,
.item_descr .action .left_half span {
    font-size: 12px;
    line-height: 14px;
    display: block;
    color: #ee3b6f;
}
.item .action .left_half span {
    padding: 0 0 0 25px;
}
.column_small .item .action .left_half span {
    padding: 0 0 0 15px;
}
.item_descr .action .left_half span {
    padding: 0;
}
.item .action .left_half p,
.item_descr .action .left_half p {
    font-size: 16px;
    line-height: 18px;
    display: block;
    color: #ee3b6f;
}
.item .action .left_half p {
    padding: 0 0 0 25px;
}
.column_small .item .action .left_half p {
    padding: 0 0 0 15px;
}
.item_descr .action .left_half p {
    padding: 0;
}
.item .action .right_half a,
.item_descr .action .right_half a {
    float: right;
}
.column_small .coupon_buy {
    width: 106px;
    height: 26px;
    background-position: -57px -494px;
}
.column_small .coupon_buy:hover {
    background-position: -57px -467px;
}
.column_small .color_btn span {
    font-size: 12px;
    line-height: 26px;
    padding-left: 30px;
}

.item .strip {
    position: absolute;
    width: 140px;
    height: 117px;
    right: -22px;
    top: -15px;
    background: url("/i/sprite.png") -863px -377px no-repeat;
    z-index: 3;
}

.item_descr {
    height: 300px;
    position: relative;
    overflow: hidden;
}
.item_descr .page_left {
    width: 325px;
    margin-right: -325px;
    height: 300px;
    position: relative;
}
.item_descr .page_right {
    height: 300px;
    margin-left: 370px;
    position: relative;
}
.item_gallery {
    width: 317px;
    height: 280px;
    padding: 3px;
    background: #fff;
    border: 1px solid #D9D3CA;
    text-align: left;
    position: relative;
}
.item_gallery img {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    vertical-align: baseline;
    background: transparent none;
}
.item_gallery img:focus {
    border: none;
    outline: none;
    background: transparent none;
}
.item_gallery figure {
    border: none;
    outline: none;
    display: block;
    -moz-user-select: none;
    position: relative;
}
.item_gallery_main li {
    margin: 0 0 4px;
}
.item_gallery_previews li {
    margin: 0 4px 3px 0;
}
.item_gallery_previews img {
    cursor: pointer;
    -moz-user-select: none;
    width: 103px;
    height: 80px;
}
.item_gallery_previews .flex-active-slide img {
    cursor: default;
}


.item_gallery figure:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    background: #363636;
    opacity: 0;
}
.item_gallery .item_gallery_main figure:before {
    content: "";
    position: absolute;
    width: 37px;
    height: 37px;
    left: 50%;
    top: 50%;
    margin: -19px 0 0 -19px;
    z-index: 4;
    background: url("/i/sprite.png") -901px -1px no-repeat;
    opacity: 0;
}
.item_gallery figure:hover:after,
.item_gallery .item_gallery_main figure:hover:before {
    opacity: 0.8;

    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.delivery_list .mark_num {
    padding-left: 20px;
}
.delivery_list .mark_num li,
.delivery_list .mark_num li > p {
    color: #058899;
}
.delivery_list .mark_num li > p {
    margin-bottom: 5px;
}
.delivery_list .mark_num li.without_mark,
.delivery_list .page_img_txt {
    margin-left: -20px;
}
.delivery_list li.without_mark .page_img_txt {
    margin-left: 0px;
}
.delivery_list .page_left {
    width: 180px;
    margin-right: -180px;
    padding-top: 3px;
}
.delivery_list .page_left img {
    border: none;
    margin-bottom: 10px;
}
.delivery_list .page_left p {
    color: #565656;
}
.delivery_list .page_right {
    margin-left: 220px;
}

.cart_table {

}
.cart_table table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 0 40px;
    border: 1px solid #d9d3ca;
}
.cart_table th,
.cart_table td {
    font-weight: 400;
    vertical-align: middle;
    text-align: center;
}
.cart_table th {
    height: 38px;
    font-size: 14px;
    line-height: 16px;
    color: #807d78;
}
.cart_table th.item_num_row,
.cart_table th.item_price_row,
.cart_table th.item_sum_row {
    border-left: 1px solid #ece9e4;
}
.cart_table td {
    font-size: 14px;
    line-height: 16px;
    height: 80px;
    padding: 20px 0;
    border: 1px solid #ece9e4;
}
.cart_table .item_img_row,
.cart_table .item_title_row,
.cart_table .item_name_row {
    border-left: none;
    border-right: none;
    text-align: left;
}
.cart_table .item_img_row {
    width: 158px;
}
.cart_table .item_num_row {
    width: 75px;
}
.cart_table .item_price_row,
.cart_table .item_sum_row {
    width: 122px;
}
.cart_table .item_title_row {
    padding-left: 23px;
}

.cart_table .cart_item_img {
    height: 80px;
    width: 125px;
    position: relative;
    padding: 0 10px 0 23px;
}
.cart_table .cart_item_descr {
    height: 80px;
    position: relative;
    padding: 0 10px 0 0;
}
.cart_table .cart_item_descr p {
    font-size: 14px;
    line-height: 18px;
    color: #565656;
}
.cart_table .cart_item_descr a {
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
}
.cart_table .input_outer {
    width: 52px;
    margin: 0 auto;
}
.cart_table .input_outer {
    width: 52px;
    margin: 0 auto;
}
.cart_table .cartItemNum {
    width: 50px;
    height: 38px;
    background: #fff;
    outline: none;
    border: 1px solid #d9d3ca;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 38px;
    color: #07899a;
}
.cart_table .item_price_row p,
.cart_table .item_sum_row p {
    font-size: 16px;
    text-align: center;
    line-height: 38px;
    color: #07899a;
    margin: 0;

}
.cart_table .cart_item_delete {
    height: 24px;
    width: 24px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    background: #ee3b6f;
    position: absolute;
    left: 18px;
    top: -9px;

    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.cart_table .cart_item_delete:after {
    content: "X";
    font-family: Verdana;
    font-size: 10px;
    font-weight: 900;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.cart_table .cart_item_delete:hover {
    background: #058899;
}

.cart_table .total {
    font-size: 18px;
    font-weight: 400;
    text-align: right;
    line-height: 24px;
    color: #807d78;
}
.cart_table .total span {
    font-weight: 600;
    color: #ee3b6e;
}
.cart_table .button {
    float: right;
    margin-bottom: 20px;
}


.cart_order_steps {
    min-height: 70px;
    padding: 0 0 75px;
    position: relative;
    text-align: center;
}
.cart_order_steps p {
    font-size: 13px;
    line-height: 14px;
}
.cart_order_steps_strip {
    width: 100%;
    height: 1px;
    left: 0;
    top: 16px;
    position: absolute;
    background: url("/i/sprite-long.png") 50% -69px no-repeat;
    z-index: 1;
}
.cart_order_step {
    width: 106px;
    height: 30px;
    display: inline-block;
    margin: 0 50px 40px;
    position: relative;
    z-index: 2;
}
.cart_order_step a {
    background: url("/i/color-btns.png") -57px -198px no-repeat;
}
.cart_order_step a:hover {
    background: url("/i/color-btns.png") -57px -167px no-repeat;
}
.cart_order_step span,
.cart_order_step a:active {
    background: url("/i/color-btns.png") -57px -136px no-repeat;
}
.cart_order_step a,
.cart_order_step span {
    width: 106px;
    height: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #fff !important;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    display: block;
    position: relative;
    z-index: 2;
}
.cart_order_step strong {
    color: #fff;
    font-weight: 600;
}
.cart_order_step a:hover,
.cart_order_step a:hover * {
    color: #fff;
    text-decoration: none;
}
.cart_order_step .ornament {
    width: 150px;
    height: 117px;
    left: -7px;
    top: -45px;
    position: absolute;
    z-index: 1;
    background: url("/i/sprite.png") 0 -502px no-repeat;
    display: none;
}
.cart_order_step.active .ornament {
    display: block;
}

/*  */
.cart_order_form {
    margin-bottom: 15px;
}
.cart_order_form > fieldset > p,
.cart_order_form > fieldset > label,
.cart_order_form .reg_address_fieldset label {
    font-size: 14px;
    color: #565656;
    float: left;
}
.cart_order_form > fieldset > p,
.cart_order_form > fieldset > label {
    width: 160px;
    margin: 0 -160px 25px 0;
}
.cart_order_form .radio_title {
    padding-top: 30px;
}
.cart_order_form > p {
    padding: 10px 0;
    vertical-align: top;
}
.cart_order_form fieldset {
    border: none;
    outline: none;
    overflow: hidden;
}
.cart_order_form label {
    height: 40px;
    line-height: 40px;
}
.cart_order_form div.order_form_right {
    margin: 0 0 25px 160px;
    color: #8a8783;
}
.cart_order_form fieldset div span {
    float: left;
    margin: 0 10px 0 0;
    line-height: 40px;
}
.cart_order_form .fld {
    height: 38px;
    line-height: 38px;
    padding: 0 4px;
    border: 1px solid #d9d3ca;
}
.cart_order_form textarea.fld {
    height: 210px;
    width: 695px;
    line-height: 18px;
    padding: 2px 4px;
    border: 1px solid #d9d3ca;
}
.cart_order_form input.fld_full_width {
    width: 320px;
}
.cart_order_form input.fld_code_width {
    width: 58px;
    float: left;
    margin: 0 10px 0 0;
}
.cart_order_form input.fld_phone_width {
    width: 215px;
    float: left;
}
.cart_order_form .example {
    clear: both;
    font-size: 12px;
    font-style: italic;
    color: #8a8783;
    display: block;
}
.cart_order_form .phone_example {
    position: relative;
    top: -20px;
    margin: 0 0 -10px 185px;
    line-height: 20px;
    min-height: 40px;
    width: auto;
}

.cart_order_form .radio_img {
    float: left;
    width: 270px;
    height: auto;
    min-height: 80px;
    line-height: 14px;
    margin: 0 0 60px;
    position: relative;
}
.cart_order_form .radio_img input {
    position: absolute;
    top: 32px;
    left: -20px;
}
.cart_order_form .radio_img span {
    font-size: 14px;
    line-height: 18px;
    color: #058899;
    text-decoration: underline;
    position: absolute;
    top: -30px;
    left: 0;
}
.cart_order_form .radio_img img {
    width: 178px;
    height: 78px;
    border: 1px solid #d9d3ca;
    display: block;
    margin-bottom: 5px;
}
.cart_order_form .radio_img p  {
    color: #565656;
    width: 180px;
    margin: 0 0 15px;
}
.cart_order_form .radio_img p em {
    font-size: 12px;
    line-height: 16px;
    color: #565656;
}
.cart_order_form .radio_img input:checked + span {
    color: #ee3c70;
    text-decoration: none;
}
.cart_order_form .radio_img input:checked + span + img {
    border: 1px solid #a5a4a2;
}

.cart_order_form .reg_address_fieldset {
    padding-right: 125px;
}
.cart_order_form .reg_address_fieldset .checkbox {
    width: auto;
    line-height: 14px;
    color: #363636;
}
.cart_order_form .reg_address_fieldset .checkbox input {
    float: left;
    width: auto;
    margin: 0 -10px 0 0;
}
.cart_order_form .reg_address_fieldset .checkbox i {
    font-style: normal;
    margin-left: 20px;
}
.cart_order_form .comment_fieldset {
    padding: 50px 0 20px;
}
.cart_order_form .comment_fieldset p {
    width: auto;
    float: none;
    margin: 0 0 10px;
}
.cart_order_form .comment_fieldset .fld {
    margin: 0 0 15px;
}