/* HTML5 new tags */
header, section, footer, aside, figure {display: block}
/* /HTML5 new tags */
img {
    -moz-user-select: none;
}
table {
    width: 100%;
    border-collapse: collapse;
}
img,
fieldset,
button {
    border: none;
    outline: none;
}

/* Links with after & before "«", "»", "+" */
a.l_commas,
a.r_commas,
a.l_add {
    color: #058899;
    text-decoration: underline;
    position: relative;
    cursor: pointer;
}
a.l_commas:hover,
a.r_commas:hover,
a.l_add:hover {
    color: #ee3c70;
}
a.l_commas {
    margin-left: 20px;
}
a.r_commas {
    margin-right: 20px;
}
a.l_commas:before,
a.r_commas:before {
    position: absolute;
    top: 0;
}
a.l_commas {
    content: "«";
    left: -20px;
}
a.r_commas {
    content: "»";
    right: -20px;
}
a.l_add {
    position: relative;
    margin-left: 20px;
}
a.l_add:before {
    content: "+";
    position: absolute;
    left: -13px;
    top: 0;
}
/* /Links with after & before "«", "»", "+" */


/* markup layout */
#layout {
    min-width: 1180px;
    min-height: 100%;
    position: relative;
    z-index: 2;
}
.reduser {
    width: 1080px;
    padding: 0 100px;
    margin: 0 auto;
    position: relative;
}
.wrapper {
    overflow: hidden;
}

.left_half {
    float: left;
    width: 50%;
    margin-right: -100%;
}
.right_half {
    margin-left: 50%;
    width: 50%;
    display: block;
}
.half {
    width: 50%;
}
.left {
    float: left;
}
.right {
    float: right;
}

.ovv {
    overflow: visible;
}





/* Share Icons */
.share {
    height: 48px;
    padding: 0 20px;
    background: #ffffff;
    border: 1px solid #d9d3ca;
    margin-bottom: 40px;
}
.share p {
    float: left;
    margin-right: 30px;
    font-size: 14px;
    color: #363636;
    line-height: 48px;
}
.share_links {
    float: left;
    height: 26px;
    padding: 11px 0;
}
/* /Share Icons */


/* form buttons */
.button {
    display: block;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    position: relative;
}
.button span {
    position: absolute;
    width: 321px;
    height: 15px;
    bottom: -15px;
    background: url("/i/sprite-long.png") -480px -35px no-repeat;
}
.button strong {
    position: absolute;
    font-family: 'Open Sans';
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 3px rgba(255,255,255,0.9), 0 0 4px rgba(255,255,255,0.8), 0 0 5px rgba(255,255,255,0.7);
    color: #058899;
}
/* reg button */
.reg_button {
    width: 359px;
    height: 67px;
    background: url("/i/buttons.png") 50% 0 no-repeat;
}
.reg_button span {
    left: 19px;
}
.reg_button:hover {
    background: url("/i/buttons.png") 50% -68px no-repeat;
}
.reg_button i {
    content: "";
    position: absolute;
    width: 35px;
    height: 46px;
    left: 25px;
    top: 8px;
    background: url("/i/sprite.png") -266px -45px no-repeat;
}
.reg_button strong {
    left: 81px;
    top: 3px;
    font-size: 19px;
    line-height: 64px;
}
/* order button */
.order_button {
    width: 325px;
    height: 67px;
    background: url("/i/buttons.png") 50% -788px no-repeat;
}
.order_button span {
    left: 19px;
}
.order_button:hover {
    background: url("/i/buttons.png") 50% -856px no-repeat;
}
.order_button i {
    content: "";
    position: absolute;
    width: 40px;
    height: 46px;
    left: 25px;
    top: 12px;
    background: url("/i/sprite.png") -988px -211px no-repeat;
}
.order_button i.step2 {
    width: 23px;
    height: 39px;
    left: 35px;
    background: url("/i/sprite.png") -996px -260px no-repeat;
}
.order_button i.step3 {
    width: 23px;
    height: 39px;
    left: 35px;
    background: url("/i/sprite.png") -996px -303px no-repeat;
}
.order_button strong {
    left: 81px;
    top: 3px;
    font-size: 19px;
    line-height: 64px;
}
/* sidebar button */
.sidebar_button {
    width: 325px;
    height: 72px;
    margin: 0 -26px;
    background: url("/i/buttons.png") 50% -136px no-repeat;
}
.sidebar_button span {
    left: 19px;
}
.sidebar_button:hover {
    background: url("/i/buttons.png") 50% -209px no-repeat;
}
.sidebar_button i {
    content: "";
    position: absolute;
    width: 36px;
    height: 35px;
    left: 27px;
    top: 20px;
    background: url("/i/sprite.png") -429px -56px no-repeat;
}
.sidebar_button strong {
    left: 95px;
    top: 3px;
    font-size: 22px;
    line-height: 70px;
}
.reviews_form .sidebar_button strong {
    left: 78px;
    top: 3px;
    font-size: 20px;
    line-height: 70px;
}

/* long two stroke button */
.long_button {
    width: 569px;
    height: 84px;
    margin: 0 auto 40px;
    background: url("/i/buttons.png") 50% -452px no-repeat;
}
.long_button:hover {
    width: 569px;
    height: 84px;
    background: url("/i/buttons.png") 50% -537px no-repeat;
}
.long_button span {
    left: 124px;
}
.long_button strong {
    font-size: 20px;
    line-height: 24px;
    left: 105px;
    top: 22px;
    padding: 0 0 5px;
}
.long_button strong:before {
    content: "";
    width: 402px;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("/i/sprite-long.png") 50% -65px no-repeat;
}
.long_button i {
    font-family: 'Open Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 100;
    line-height: 24px;
    width: 92%;
    padding-left: 8%;
    position: absolute;
    left: 0;
    top: 50px;
    color: #299dac;
}

/* long two stroke button */
.two_stroke_button {
    width: 325px;
    height: 84px;
    margin: 0 auto;
    background: url("/i/buttons.png") 50% -282px no-repeat;
}
.two_stroke_button:hover {
    width: 325px;
    height: 84px;
    background: url("/i/buttons.png") 50% -367px no-repeat;
}
.two_stroke_button span {
    left: 19px;
}
.two_stroke_button strong {
    font-size: 20px;
    line-height: 24px;
    left: 0;
    top: 20px;
    width: 325px;
    text-align: center;
    padding: 0 0 5px;
}
.two_stroke_button strong:before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("/i/sprite-long.png") 50% -67px no-repeat;
}
.two_stroke_button i {
    font-family: 'Open Sans';
    font-size: 11px;
    font-style: normal;
    font-weight: 100;
    line-height: 24px;
    width: 325px;
    position: absolute;
    left: 0;
    top: 50px;
    color: #299dac;
}
/* delivery_button two stroke button */
.delivery_button {
    width: 325px;
    height: 82px;
    margin: 0 auto 70px;
    background: url("/i/buttons.png") 50% -622px no-repeat;
    text-decoration: none !important;
}
.delivery_button:hover {
    background: url("/i/buttons.png") 50% -705px no-repeat;
}
.delivery_button:hover * {
    text-decoration: none !important;
}
.delivery_button span {
    left: 19px;
}
.delivery_button strong {
    font-size: 20px;
    line-height: 24px;
    right: 0;
    top: 20px;
    width: 255px;
    text-align: center;
    padding: 0 0 5px;
    display: block;
}
.delivery_button strong:before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("/i/sprite-long.png") 50% -67px no-repeat;
}
.delivery_button i {
    font-family: 'Open Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    width: 255px;
    position: absolute;
    right: 0;
    top: 50px;
    color: #299dac;
    display: block;
    text-align: center;
}