/* Sidebar Slider */
.widget_slider {
    width: 272px;
    padding: 40px 0 0;
    margin: 0 auto;
}
.widget_slider .article {
    width: 272px;
    margin-bottom: 25px;
}
.widget_slider .article_img {
    position: relative;
    border: 1px solid #d9d3ca;
    margin: 0 0 6px;
}
.widget_slider .article p {
    font-size: 13px;
    line-height: 16px;
}
.widget_slider .article em {
    font-size: 12px;
    line-height: 16px;
}
.widget_slider .article_img,
.widget_slider .article_img img,
.widget_slider .article_img .overlap,
.widget_slider .article_img .overlap:after {
    width: 270px;
    height: 165px;
}
.widget_slider .article_img .overlap {
    font-size: 16px;
    line-height: 165px;
}
