/* Paginator */
.paginator {
    height: 36px;
    margin: 0 0 80px;
    overflow: hidden;
}
.paginator_inner {
    float: left;
    height: 36px;
    position: relative;
    left: 50%;
}
.paginator_paging {
    float: left;
    height: 36px;
    position: relative;
    left: -50%;
}
.paginator_link {
    height: 36px;
    width: 36px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    border-radius: 18px;
    display: inline-block;
    margin: 0 3px;
}
.paginator_link a {
    height: 34px;
    width: 34px;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    border-radius: 17px;
    border: 1px solid #d9d3ca;
    background: #ffffff;
    display: block;

    font-size: 16px;
    font-weight: 600;
    line-height: 34px;
    text-align: center;
    text-decoration: none;
    color: #807d78;
}
.paginator_link.curr a,
.paginator_link a:hover {
    color: #ffffff;
    background: #d9d3ca;
}
.paginator_prev {
    position: absolute;
    left: -56px;
    top: 0;
}
.paginator_next {
    position: absolute;
    right: -56px;
    top: 0;
}
.paginator_prev a:after,
.paginator_next a:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 6px;
    top: 50%;
    margin-top: -6px;
}
.paginator_prev a:after {
    right: 16px;
    border-right-color: #807d78;
}
.paginator_next a:after {
    left: 16px;
    border-left-color: #807d78;
}
.paginator_prev a:hover:after {
    border-right-color: #ffffff;
}
.paginator_next a:hover:after {
    border-left-color: #ffffff;
}