.gallery_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.8;
    z-index: 99;
}
.gallery_popup {
    position: absolute;
    min-width: 960px;
    max-width: 1180px;
    left: 50%;
    top: 50px;
    bottom: 50px;
    z-index: 999;
}
.gallery_popup_window {
    position: relative;
    left: -50%;
    padding: 20px;
    background: #e7e4de;
}

.gallery_popup header {
    height: 50px;
    position: relative;
}
.gallery_num-of-length {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 50px;
}

.gallery_title {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
}

#gallery_slider {
    height: 610px;
}
.gallery_popup .slider {
    padding: 50px 0 35px;
    width: 100%;
    height: 610px;
    position: relative;
    overflow: hidden;
}
.gallery_popup section ul {
    height: 610px;
}
.gallery_popup section li {
    float: left;
    max-height: 610px;
}
.gallery_popup section img {
    display: block;
    max-height: 610px;
}
#gallery_slider .flex-direction-nav {
    position: absolute;
    top: 2px;
    right: 0;
}
#gallery_slider .flex-direction-nav li {
    float: left;
    height: 36px;
    width: 36px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    border-radius: 18px;
    float: left;
    margin: 0 1px;
    position: relative;
}
#gallery_slider .flex-direction-nav li a {
    height: 0;
    width: 0;
    padding: 17px;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    border-radius: 17px;
    border: 1px solid #d9d3ca;
    background: #ffffff;
    position: relative;
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 34px;
    text-align: center;
    text-decoration: none;
    color: #807d78;
    cursor: pointer;
    overflow: hidden;
}
#gallery_slider .flex-direction-nav li a:hover {
    background: #d9d3ca;
    color: #ffffff;
}
#gallery_slider .flex-prev:after,
#gallery_slider .flex-next:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 6px;
    top: 50%;
    margin-top: -6px;
}
#gallery_slider .flex-prev:after {
    right: 16px;
    border-right-color: #807d78;
}
#gallery_slider .flex-next:after {
    left: 16px;
    border-left-color: #807d78;
}
#gallery_slider .flex-prev:hover:after {
    border-right-color: #ffffff;
}
#gallery_slider .flex-next:hover:after {
    border-left-color: #ffffff;
}

.gallery_popup_close {
    height: 34px;
    width: 34px;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    border-radius: 17px;
    background: #ffffff;
    position: absolute;
    right: -12px;
    top: -12px;

    font-size: 16px;
    font-weight: 600;
    line-height: 34px;
    text-align: center;
    text-decoration: none;
    color: #807d78;
    cursor: pointer;
}
.gallery_popup_close:after {
    content: "X";
    font-family: Verdana;
    font-size: 13px;
    font-weight: 900;
    color: #2b92a1;
    position: absolute;
    top: 0;
    left: 0;
    height: 34px;
    width: 34px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.gallery_popup_close:hover:after {
    color: #ee3c70;
}


.gallery_descr h3 {
    color: #07899A;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 5px;
    text-align: left;
    text-transform: uppercase;
}
.gallery_descr {
    padding: 0 0px;
    overflow: hidden;
}
.gallery_descr .comments_block {
    margin: 0 0 25px;
}
.gallery_descr .comments_form textarea.fld {
    width: 587px;
}
.gallery_descr_txt {
    margin: 0 0 40px;
}
.gallery_left {
    float: left;
    width: 600px;
    margin: 0 -600px 0 0;
}
.gallery_right {
    margin: 0 0 0 650px;
}
.gallery_sticker {
    height: 180px;
    padding: 25px 30px 10px;
    border: 1px solid #D9D3CA;
    background: #ffffff;
}
.gallery_sticker p {
    line-height: 22px;
}


.mini_popup {
    position: absolute;
    width: 380px;
    left: 50%;
    top: 50px;
    bottom: 50px;
    z-index: 999;
}
.mini_popup_window {
    position: relative;
    left: -50%;
    padding: 30px 0 10px;
    background: #e7e4de;

    border: 3px solid #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.login_form {
    overflow:hidden;
}
.login_form h5 {
    font-size:18px;
    font-weight:normal;
    color:#07899a;
    line-height:24px;
    text-align:center;
    margin-bottom:25px;
    position: relative;
}
.login_form h5 span {
    position: relative;
}
.login_form h5 .success_icon {
    position: absolute;
    width: 42px;
    height: 34px;
    left: -46px;
    top: -3px;
    background: url("/i/sprite.png") -988px -342px no-repeat;
}
.login_form fieldset {
    border:none;
    position:relative;
    margin-bottom:15px;
    padding: 0 37px;
}
.login_form .fld {
    width: 290px;
    padding: 0 4px;
    height: 28px;
    background:#fff;
    border: 1px solid #d9d3ca;
    outline:none;
}
.login_form textarea.fld {
    height: 280px;
    resize: vertical;
}
.login_form label {
    font-size:14px;
    color:#07899a;
    line-height:14px;
    display:block;
    margin-bottom:3px;
}
.login_form .chbx {
    margin-bottom:25px;
}
.login_form .chbx input {
    float:left;
    margin-right:7px;
}
.login_form .chbx label {
    color:#363636;
}
.login_form #forgot_pass {
    position:absolute;
    top:0px;
    right:37px;
    font-size:12px;
    color:#363636;
}
.login_form #forgot_pass:hover {
    color:#ee3c70;
}
.login_form .popup_form_btn {
    border-top: 1px solid #fff;
    padding-top: 25px;
}
.login_form .popup_form_btn a {
    font-weight: 600;
    line-height: 33px;
}
.login_btn {
    width: 124px;
    background: url('/i/color-btns.png') 50% -331px no-repeat;
}
.login_btn:hover {
    background: url('/i/color-btns.png') 50% -297px no-repeat;
}
.login_btn span {
    width:85px;
}

