* {
	margin: 0;
	padding: 0;
}

html {height: 100%;}
body {
	height: 100%;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 0.85em;
	background: #fff;
}

ul {
	list-style-type: none;
}

h2 {
	font-size: 32px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
    line-height: 36px;
	color: #058899;
}
h3 {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    line-height: 24px;
    color: #058899;
}
h4 {
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
    line-height: 18px;
	color: #565656;
    letter-spacing: 0.075em;
    margin: -28px 0 60px;
}
.title_ornament {
    padding: 0 0 57px;
    margin: 0 0 60px;
    position: relative;
    letter-spacing: 0.075em;
}
.title_ornament:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 22px;
    bottom: 0;
    left: 0;
    background: url("/i/sprite-long.png") -100px -13px no-repeat;
}
.title_strip {
    position: relative;
    padding: 38px 0 18px;
    letter-spacing: 0.05em;
    margin: 0 0 10px;
}
.title_strip:before {
    content: "";
    position: absolute;
    width: 266px;
    height: 1px;
    left: 50%;
    margin-left: -133px;
    bottom: 0;
    background: url("/i/sprite.png") -255px -103px;
}
.title_strip_long {
    padding: 0 0 20px;
    position: relative;
    margin: 0 0 40px;
}
.title_strip_long:before {
    content: "";
    height: 1px;
    width: 1080px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("/i/sprite-long.png") -100px -50px no-repeat;
}

p {
    font-size: 14px;
    line-height: 18px;
    color: #363636;
}

a {
	text-decoration: underline;
}
a,
a > * {
	color: #058899;
}
a:hover,
a:hover > * {
	color: #ee3c70;
	text-decoration: underline;
}

.more {
    text-align: center;
    margin: 0 0 40px;
}



.aside {
    float: left;
    width: 325px;
    margin: 0 -325px 0 0;
}
.section {
    margin: 0 0 0 375px;
}

.white_width {
    width: 100%;
    padding: 50px 0 0;
    background: #fff;
    overflow: hidden;
}
.brick_width {
    width: 100%;
    padding: 50px 0 0;
    background: url("/i/brick-bg.jpg") 50% 0 repeat;
    overflow: hidden;
	position: relative;
	z-index: 1;
}
.pressa_width {
    width: 100%;
    padding: 50px 0 0;
    background: url("/i/pressa-bg.jpg") 50% 0 repeat;
    overflow: hidden;
}
.brick_width ~ .white_width {
    border-top: 1px solid #D9D3CA;
    border-bottom: 1px solid #D9D3CA;
}

.shadow_long:after {
    content: "";
    width: 1280px;
    height: 13px;
    position: absolute;
    bottom: -13px;
    left: 50%;
    margin-left: -640px;
    background: url("/i/sprite-long.png") 0 0 no-repeat;
    z-index: -1;
}
.shadow_medium:after {
    content: "";
    position: absolute;
    width: 321px;
    height: 15px;
    left: 2px;
    bottom: -15px;
    background: url("/i/sprite-long.png") -480px -35px no-repeat;
}
.shadow_center:after {
    content: "";
    position: absolute;
    width: 700px;
    height: 13px;
    left: 0;
    bottom: 0;
    background: url("/i/sprite-long.png") -290px -52px no-repeat;
}


/* header */
#header {
	position: relative;
	overflow: hidden;
    height: 260px;
    background: url("/i/brick-bg.jpg") 50% 0 repeat;
}
#header.mainpage {
	height: 720px;
}
#header .reduser {
    height: 260px;
	width: 1180px;
	padding: 0 50px;
	z-index: 2;
    background: url("/i/header.jpg") 50% 0 repeat;
}
#header.mainpage .reduser {
    height: auto;
    background: transparent none;
}
.round_link_blue {
	width: 393px;
	height: 227px;
	position: absolute;
	z-index: 2;
	right: 0;
	top: 493px;
	background: url('/i/training-reg.png') 0 0 no-repeat;
}
.round_link_blue:hover {
	background: url('/i/training-reg.png') 0 100% no-repeat;
}
.round_link_blue:after {
    content: "";
    position: absolute;
    width: 209px;
    height: 97px;
    left: 105px;
    bottom: -10px;
    background: url("/i/taurus.png") 0 -97px no-repeat;
}
.round_link_blue:hover:after {
    background: url("/i/taurus.png") 0 0 no-repeat;
}
.round_link_pink {
	width: 355px;
	height: 227px;
	position: absolute;
	z-index: 2;
	right: 50px;
	top: 83px;
	background: url('/i/training-reg.png') 100% 0 no-repeat;
}
.round_link_pink:hover {
	background: url('/i/training-reg.png') 100% -227px no-repeat;
}
.round_link_pink:after {
    content: "";
    position: absolute;
    width: 218px;
    height: 112px;
    left: 112px;
    bottom: -8px;
    background: url("/i/taurus.png") -209px -112px no-repeat;
}
.round_link_pink:hover:after {
    background: url("/i/taurus.png") -209px 0 no-repeat;
}

.round_link_pink_aside {
	width: 326px;
	height: 237px;
	position: relative;
    display: block;
	background: url('/i/training-reg-aside.png') 100% 0 no-repeat;
}
.round_link_pink_aside:hover {
	background: url('/i/training-reg-aside.png') 100% -238px no-repeat;
}
.round_link_pink_aside:after {
    content: "";
    position: absolute;
    width: 205px;
    height: 84px;
    left: 25px;
    top: 90px;
    background: url("/i/taurus.png") -2px -278px no-repeat;
}
.round_link_pink_aside:hover:after {
    background: url("/i/taurus.png") -2px -194px no-repeat;
}

/*  */
#conteiner {

}
#conteiner.mainpage {

}

.columns {
    margin: 0 -26px;
    overflow: hidden;
}
.column {
    float: left;
    width: 325px;
    margin: 0 26px;
}

.columns_small {
    margin: 0 -9px;
    overflow: hidden;
}
.column_small {
    float: left;
    width: 223px;
    margin: 0 9px;
}

/* promo */
.promo {
    margin: 0 0 70px;
}
.promo_workshop {
    background: url("/i/promo-workshop.png") 50% 99% no-repeat;
    padding: 0 0 95px;
}
.promo_item {
    width: 325px;
    height: 263px;
    padding: 0 0 15px;
    display: block;
    position: relative;
}
.promo_item:after {
    content: "";
    position: absolute;
    width: 321px;
    height: 15px;
    left: 2px;
    bottom: 0;
    background: url("/i/sprite-long.png") -480px -35px no-repeat;
}
.promo_picture {
    width: 325px;
    height: 145px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin: 0 0 6px;
}
.promo_picture img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.promo_item .promo_hover {
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.promo_item span {
    display: block;
    height: 70px;
    padding: 40px 0 0;
    background: #fff;
    border: 1px solid #d9d3ca;

    font-size: 21px;
    text-align: center;
    text-transform: uppercase;
    line-height: 44px;
    position: relative;
    z-index: 1;
}
.promo_item .promo_descr {
    display: block;
    height: 185px;
    padding: 10px 25px;
    background: #fff;
    border: 1px solid #d9d3ca;
    text-align: center;
    position: relative;
    z-index: 1;
    top: 58px;
}
.promo_item .promo_descr span {
    border: none;
    height: auto;
    color: #00a2b8;
}
.promo_icon {
    position: absolute;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    left: 50%;
    margin-left: -50px;
    top: 97px;
    background: #fff;
    z-index: 2;
    overflow: hidden;
}
.promo_workshop .promo_icon {
    top: 10px;
}
.promo_icon:after,
.promo_icon:before {
    content: "";
    position: absolute;
    width: 84px;
    height: 84px;
    left: 8px;
    top: 8px;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.promo_item:hover .promo_icon:after,
.promo_item:hover .promo_icon:before {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
}
.promo_icon:after {
    opacity: 1;
}
.promo_icon:before {
    opacity: 0;
}
.promo_item:hover .promo_icon:after {
    opacity: 0;
}
.promo_item:hover .promo_icon:before {
    opacity: 1;
}
.promo_item:hover span {
    text-decoration: none;
}
.education.promo_icon:after {
    background: url("/i/sprite.png") -1px -40px no-repeat;
}
.education.promo_icon:before {
    background: url("/i/sprite.png") -1px -125px no-repeat;
}
.gallery.promo_icon:after {
    background: url("/i/sprite.png") -86px -40px no-repeat;
}
.gallery.promo_icon:before {
    background: url("/i/sprite.png") -86px -125px no-repeat;
}
.magazine.promo_icon:after {
    background: url("/i/sprite.png") -171px -40px no-repeat;
}
.magazine.promo_icon:before {
    background: url("/i/sprite.png") -171px -125px no-repeat;
}
.tvorcheskaja.promo_icon:after {
    background: url("/i/sprite.png") -856px -40px no-repeat;
}
.tvorcheskaja.promo_icon:before {
    background: url("/i/sprite.png") -856px -40px no-repeat;
}
.workshop.promo_icon:after {
    background: url("/i/sprite.png") -771px -40px no-repeat;
}
.workshop.promo_icon:before {
    background: url("/i/sprite.png") -771px -40px no-repeat;
}
.vdohnovenie.promo_icon:after {
    background: url("/i/sprite.png") -941px -40px no-repeat;
}
.vdohnovenie.promo_icon:before {
    background: url("/i/sprite.png") -941px -40px no-repeat;
}
.promo_item:hover {
    text-decoration: none;
}
.promo_item:hover .promo_hover {
    opacity: 1;
}

/* News */
.news {
    overflow: hidden;
    margin: 0 0 15px;
}
.news_last {
    padding: 20px 0 65px;
}
.news_list {

}
/* News article */
.article {
    width: 325px;
}
.news_list .article {
    float: left;
    height: 270px;
    margin-bottom: 55px;
}
.article_link {
    display: block;
}
.article_img {
    position: relative;
    border: 1px solid #d9d3ca;
    margin: 0 0 9px;
}
.article_img,
.article_img img,
.article_img .overlap,
.article_img .overlap:after {
    width: 323px;
    height: 198px;
}
.article_img img {
    display: block;
    border: none;
    position: relative;
    z-index: 1;
}
.article_img .overlap {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    opacity: 0;

    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;

    font-size: 20px;
    line-height: 198px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
.article_img .overlap:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: #000;
}
.article_link p {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-decoration: underline;
    text-align: center;
    padding: 0 5px 5px;
}
.article em {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 18px;
    color: #807d78;
    text-align: center;
    padding: 0px 5px;
    display: block;
}
.article_link:hover {
    text-decoration: none;
}
.article_link:hover .overlap {
    opacity: 1;
}
.article_link:hover .overlap:after {
    opacity: 0.6;
}

/* Page */
.page {

}
.page .aside {
    margin-bottom: 80px;
}
.page a:visited {
    color: #807d78;
    text-decoration: underline;
}
.page a:hover {
    color: #ee3c70;
    text-decoration: none;
}
.page_content {

}
.page_content hgroup {
    min-height: 50px;
    padding: 20px 150px 0;
    margin: 0 0 40px;
    position: relative;
    overflow: hidden;
}
/* todo: normal Head */
.page h1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #07899a;
    text-align: center;
    text-transform: uppercase;
}
.page h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-transform: none;
    text-align: left;
    color: #ee3b6e;
    margin: 0 0 20px;
}
.page h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-align: left;
    color: #07899a;
    margin: 0 0 20px;
}
.page h4 {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-transform: none;
    text-align: left;
    color: #565656;
    letter-spacing: 0;
    margin: 0 0 20px;
}
.page h6 {
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    line-height: 22px;
    color: #807d78;

    position: absolute;
    left: 0;
    top: 20px;
}
.page h6.subtitle {
    font-style: normal;
    line-height: 16px;
    color: #07899a;
}
.page p {
    margin: 0 0 15px;
}
.page_content section {
    margin: 0 0 30px;
    overflow: hidden;
}
.page_content footer {
    margin: 10px 0 70px;
    overflow: hidden;
}
.page_content footer a {
    font-size: 14px;
    line-height: 18px;
    position: relative;
}
.page_content .page_prev {
    float: left;
    padding: 0 0 0 20px;
}
.page_content .page_next {
    float: right;
    padding: 0 20px 0 0;
}
.page_content .page_prev:before {
    content: "«";
    position: absolute;
    left: 0;
    top: 0;
}
.page_content .page_next:before {
    content: "»";
    position: absolute;
    right: 0;
    top: 0;
}
.page_content .back {
    font-size: 14px;
    line-height: 22px;
    text-decoration: underline;

    position: absolute;
    right: 0;
    top: 20px;
}
.page_content .back:before {
    content: "«";
    font-size: 14px;
    line-height: 22px;
    position: absolute;
    left: -20px;
    top: 0;
}

.page_img_txt {
    margin: 0 0 10px;
    overflow: hidden;
}
.page_left {
    float: left;
    margin-right: 45px;
}
.page_left img {
    display: block;
    border: 1px solid #D9D3CA;
}
.page_gallery_img {
    margin: 0 0 20px;
}
.page_gallery_reviews {
    width: 325px;
}
.page_gallery_reviews .small {
    position: relative;
    z-index: 2;
}
.page_gallery_reviews .g_img_left:after,
.page_gallery_reviews .g_img_right:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    background: #363636;
    opacity: 0;
}
.page_gallery_reviews .g_img_left:before,
.page_gallery_reviews .g_img_right:before {
    content: "";
    position: absolute;
    width: 37px;
    height: 37px;
    left: 50%;
    top: 50%;
    margin: -19px 0 0 -19px;
    z-index: 4;
    background: url("/i/sprite.png") -901px -1px no-repeat;
    opacity: 0;
}
.page_gallery_reviews .g_img_left:hover:after,
.page_gallery_reviews .g_img_right:hover:after,
.page_gallery_reviews .g_img_left:hover:before,
.page_gallery_reviews .g_img_right:hover:before {
    opacity: 0.8;

    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.page_gallery_reviews .g_img_left {
    margin: 0 9px 20px 0;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.page_gallery_reviews .g_img_right {
    margin: 0 0 20px 8px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.page_right {
    margin: 0;
}



/* Blog */
.blog_post {
    margin: 0 0 55px;
    height: 200px;
    overflow: hidden;
}
.blog_post_img {
    float: left;
    width: 325px;
    margin: 0 -325px 0 0;
}
.blog_post_img a,
.blog_post_img img {
    display: block;
    text-decoration: none;
}
.blog_post_txt {
    margin: 0 0 0 375px;
}
.blog_post_img,
.blog_post_txt {
    height: 200px;
    position: relative;
}
.blog_post h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-transform: none;
    text-align: left;
    color: #058899;
    margin: 0 0 20px;
}
.blog_post p {
    font-size: 14px;
    line-height: 16px;
    color: #363636;
    margin: 0 0 10px;
}
.blog_post_meta {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 !important;
}
.blog_post_meta span {
    font-size: 12px;
    line-height: 16px;
    color: #565656;
    float: left;
}
.blog_post_meta a {
    font-size: 14px;
    line-height: 14px;
    float: right;
    position: relative;
    margin-right: 15px;
}
.blog_post_meta.more a:after {
    content: "»";
    position: absolute;
    right: -15px;
    top: 0;
}

.faq_list {

}
.faq_category {
    overflow: hidden;
    margin: 0 0 35px;
}
.faq_category h2 {
    margin: 0 0 17px;
}
.faq_subcategory {
    margin: 0;
    padding: 0 0 0 40px;
}
.faq_subcategory li {
    line-height: 18px;
    margin: 0 0 16px;
}
.faq_question {
    font-size: 16px;
    line-height: 16px;
    color: #565656;
    padding: 0 0 0 20px;
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.faq_question:hover,
.faq_question.hover,
.show .faq_question {
    color: #07899a;
}
.faq_question:before {
    content: "";
    width: 7px;
    height: 9px;
    position: absolute;
    top: 5px;
    left: 0;
    background: url("/i/sprite.png") -277px -200px no-repeat;
}
.faq_question:hover:before,
.faq_question.hover:before,
.show .faq_question:before {
    background: url("/i/sprite.png") -257px -200px no-repeat;
}
.faq_answer {
    padding: 15px 0 20px 60px;
    display: none;
}
.faq_answer p {
    font-size: 14px;
    line-height: 16px;
    color: #07899a;
    margin: 0 0 12px;
}

.mark_list li,
.mark_num li {
    font-size: 14px;
    line-height: 18px;
    color: #363636;
    position: relative;
}
.mark_list li {
    padding: 0 0 15px 20px;
}
.mark_num li {
    padding: 0 0 15px;
}
.mark_list li:before {
    content: "";
    width: 7px;
    height: 9px;
    position: absolute;
    top: 5px;
    left: 0;
    background: url("/i/sprite.png") -257px -200px no-repeat;
}


/* Page Comments */
.comments_block {
    margin: 0 0 80px;
    overflow: hidden;
}
.comments_attention {
    padding: 10px 40px;
    background: #ffffff;
    border: 1px solid #D9D3CA;
    margin: 0 0 40px;

    font-size: 14px;
    font-style: italic;
    color: #07899a;
    line-height: 18px;
    text-align: center;
}
.comments_form {
    overflow: hidden;
    margin: 0 0 40px;
}
.comments_form h3 {
    margin: 0 0 5px;
}
.comments_form fieldset {
    border: none;
    outline: none;
}
.comments_form fieldset {
    border: none;
    outline: none;
    overflow: hidden;
    margin: 0 0 15px;
}
.comments_form .fld {
    width: 692px;
    height: 38px;
    line-height: 38px;
    padding: 0 4px 0 7px;
    border: 1px solid #d9d3ca;

    font-family: 'Open Sans';
    font-size: 13px;
    font-style: italic;
    color: #807d78;
}
.comments_form textarea.fld {
    height: 80px;
    line-height: 18px;
    padding: 4px 4px 4px 7px;
    resize: vertical;
}
.color_btn {
    border: none;
    outline: none;
    display: block;
    height: 33px;
    background-image: url("/i/color-btns.png");
    background-repeat: no-repeat;
    cursor: pointer;
    box-shadow: -1px 2px 2px rgba(0,0,0,0.3);
}
.color_btn span {
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 32px;
    text-transform: uppercase;
    text-align: center;
    padding-left: 39px;
    color: #fff;
    display: block;
}
.comment_add {
    float: right;
    margin-right: 1px;
    width: 163px;
    background-position: 50% -34px;
}
.comment_add:hover {
    background-position: 50% 0;
}

.comment {
    overflow: hidden;
}
.comment .comment {
    padding: 0 0 0 50px;
}
.comment_title {
    padding: 10px 0 0;
    border-top: 1px solid #d9d3ca;
    height: 18px;
    margin: 0 0 5px;
    overflow: hidden;
}
.comment_name {
    font-size: 14px;
    line-height: 18px;
    color: #07899a;
    float: left;
}
.comment_date {
    font-size: 12px;
    font-style: italic;
    line-height: 18px;
    color: #807d78;
    float: right;
}
.comment_msg {
    overflow: hidden;
    padding: 0 0 10px;
}
.comment_answer_link {
    font-size: 14px;
    line-height: 18px;
    float: right;
}



/* breadcrumbs */
.breadcrumbs {
    width: 1080px;
    margin: 0 auto 40px;
    position: relative;
    z-index: 4;
}
.white_width .breadcrumbs + .reduser {
    z-index: 2;
}
.breadcrumbs p {
    float: left;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    color: #8a8783;
    margin-right: 11px;
    padding: 15px 0 0;
}
.breadcrumbs ul {
    float: left;
}
.breadcrumbs > ul > li {
    float: left;
    font-size: 16px;
    line-height: 18px;
    height: 35px;
    color: #8a8783;
}
.breadcrumbs > ul > li.breadcrumbs_separator {
    width: 9px;
    padding: 15px 0 0;
    height: auto;
    margin: 0 -3px;
}
.breadcrumbs a {
    color: #8a8783;
}
.breadcrumbs > ul > li > a,
.breadcrumbs > ul > li > span {
    display: inline-block;
    padding: 15px 19px 0;
}
.breadcrumbs a:hover,
.breadcrumbs span {
    color: #ee3c70;
}

.breadcrumbs_submenulink {
    position: relative;
    color: #8a8783;
}
.breadcrumbs_submenulink:hover,
.breadcrumbs_submenulink.hover {
    border: 1px solid #dad4cb;
    border-bottom: none;
    margin: -1px -3px 0 -2px;
}
.breadcrumbs_submenulink:hover > a,
.breadcrumbs_submenulink.hover > a {
    padding: 15px 21px 3px 20px;
    background: #fff;
}
.breadcrumbs_submenulink > a {
    position: relative;
    z-index: 2;
}
.breadcrumbs_submenulink > a:after {
    display: inline-block;
    margin: 0 0 0 8px;
    content: "";
    position: relative;
    top: 1px;
    width: 12px;
    height: 12px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    background: #8a8783;
    z-index: 1;
}
.breadcrumbs_submenulink > a:before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 3px;
    top: 50%;
    margin-top: 7px;
    right: 22px;
    border-top-color: #ffffff;
    z-index: 2;
}
.breadcrumbs_submenulink:hover > a:before,
.breadcrumbs_submenulink.hover > a:before {
    margin-top: 5px;
    right: 24px;
    border-top: none;
    border-bottom-color: #ffffff;
}

.breadcrumbs_submenulink:hover .submenu,
.breadcrumbs_submenulink.hover .submenu {
    display: block;
    position: absolute;
    z-index: 1;
    left: -1px;
    top: 35px;
    border: 1px solid #dad4cb;
    padding: 10px 0 15px;
    background: #fff;
    min-width: 100%;
}
.breadcrumbs_submenulink .submenu li {
    font-size: 13px;
    line-height: 22px;
}
.breadcrumbs_submenulink .submenu > li:hover,
.breadcrumbs_submenulink .submenu > li.hover {
    background: #ffffff;
}
.breadcrumbs_submenulink .submenu > li:after {
    font-size: 12px;
    color: #565656;
}
.breadcrumbs_submenulink .submenu > li:hover:after,
.breadcrumbs_submenulink .submenu > li.curr:after {
    color: #ee3c70;
}
.breadcrumbs_submenulink .submenu a,
.breadcrumbs_submenulink .submenu span {
    font-size: 13px;
    line-height: 22px;
    padding: 0 25px 0 35px;
    position: relative;
    white-space: nowrap;
}
.breadcrumbs_submenulink .submenu a {
    color: #565656;
    text-decoration: none;
}
.breadcrumbs_submenulink .submenu a:hover,
.breadcrumbs_submenulink .submenu a.hover,
.breadcrumbs_submenulink .submenu span {
    color: #ee3c70;
    text-decoration: none;
}
.breadcrumbs_submenulink .submenu span {
    font-weight: 600;
}

/* sidebar */
.sidebar {
    position: relative;
    border: 1px solid #d9d3ca;
    margin: 0 0 80px;
}
.sidebar_full_layout {

}
.sidebar_top_img {
    height: 145px;
    margin: 0 0 7px;
    position: relative;
    z-index: 2;
}
.reviews_icon,
.faq_icon {
    position: absolute;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    left: 50%;
    margin-left: -50px;
    top: 95px;
    background: #fff;
    z-index: 2;
    overflow: hidden;
}
.reviews_icon:after {
    content: "";
    position: absolute;
    width: 84px;
    height: 84px;
    left: 8px;
    top: 8px;
    background: url("/i/sprite.png") -941px -125px no-repeat;
}
.faq_icon:after {
    content: "";
    position: absolute;
    width: 84px;
    height: 84px;
    left: 8px;
    top: 8px;
    background: url("/i/sprite.png") -856px -125px no-repeat;
}

.sidebar_widget {
    padding: 0 0 35px;
    overflow: hidden;
}
.sidebar_widget header {
    height: 68px;
    padding: 0 26px;
    font-size: 22px;
    font-weight: 400;
    line-height: 68px;
    border-bottom: 1px solid #d9d3ca;
    color: #807d78;
}
.sidebar_menu {
    padding: 25px 25px 0;
    overflow: hidden;
}
.sidebar_menu li {
    margin: 0 0 10px;
}
.sidebar_menu a,
.sidebar_menu .curr span,
.sidebar_menu .submenu a {
    font-size: 17px;
    line-height: 18px;
    text-decoration: none;
    position: relative;
    padding: 0 0 0 20px;
    margin: 0 0 10px;
    display: inline-block;
}
.sidebar_menu a:before,
.sidebar_menu .curr span:before {
    content: "";
    width: 7px;
    height: 9px;
    position: absolute;
    top: 5px;
    left: 0;
}
.sidebar_menu a:before {
    background: url("/i/sprite.png") -257px -200px no-repeat;
}
.sidebar_menu a:hover:before {
    background: url("/i/sprite.png") -267px -200px no-repeat;
}
.sidebar_menu .curr span:before {
    background: url("/i/sprite.png") -267px -200px no-repeat;
}
.sidebar_menu .submenulink:hover .submenu,
.sidebar_menu .submenulink.hover .submenu,
.sidebar_menu .submenulink:hover .submenu:after,
.sidebar_menu .submenulink.hover .submenu:after {
    content: "";
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    border: 0px;
    outline: none;
    background: transparent none;
    position: relative;
    top: 0;
    left: 0;
}
.sidebar_menu .submenulink:hover .submenu,
.sidebar_menu .submenulink.hover .submenu,
.sidebar_menu .submenulink.curr .submenu {
    padding: 0 0 5px 35px;
}
.sidebar_menu .submenulink.curr .submenu {
    display: block;
}
.sidebar_menu .submenu li {
    line-height: 18px;
    margin: 0 0 2px;
}
.sidebar_menu .submenu li:before,
.sidebar_menu .submenu li:after {
    content: "";
    background: none;
}
.sidebar_menu .submenu a,
.sidebar_menu .submenu .curr span {
    background: transparent none;
    padding: 0 0 0 20px;
    margin: 0;
}
.sidebar_menu .submenu a {
    color: #058899;
}
.sidebar_menu .submenu a:before,
.sidebar_menu .submenu .curr span:before {
    content: "»";
    top: 0;
    background: transparent none;
}
.sidebar_menu .submenu li:hover,
.sidebar_menu .submenu a:hover,
.sidebar_menu .curr span {
    color: #ef4878;
    background: transparent none;
}
.sidebar_form {
    padding: 25px 25px 0;
    overflow: hidden;
}
.feedback_form {
    position: relative;
}
.feedback_form:before {
    content: "";
    position: absolute;
    width: 323px;
    height: 67px;
    left: 0;
    top: 0;
    background: url("/i/sprite.png") -256px -132px no-repeat;
}
.sidebar .sidebar_form hgroup {
    padding: 20px 0 30px;
}
.sidebar_form hgroup p {
    font-style: normal;
}
.sidebar_form hgroup:before {
    content: "";
    position: absolute;
    right: -7px;
    bottom: 0;
    width: 192px;
    height: 49px;
    background: url("/i/sprite.png") -579px -159px no-repeat;
}

.sidebar_form fieldset {
    border: none;
    outline: none;
    overflow: hidden;
    margin: 0 0 20px;
}
.sidebar_form .fld {
    width: 260px;
    height: 38px;
    line-height: 38px;
    padding: 0 4px 0 7px;
    border: 1px solid #d9d3ca;

    font-family: 'Open Sans';
    font-size: 13px;
    font-style: italic;
    color: #807d78;
 }
.sidebar_form textarea.fld {
    height: 333px;
    line-height: 18px;
    padding: 4px 4px 4px 7px;
    resize: vertical;
 }
.sidebar_form p {
    font-family: 'Open Sans';
    font-size: 13px;
    font-style: italic;
    line-height: 24px;
    color: #807d78;
}
.sidebar_form .captcha {
    float: left;
    width: 145px;
    height: 38px;
    border: 1px solid #d9d3ca;
    margin-right: 10px;
}
.sidebar_form .fld_captcha_width {
    width: 103px;
}

/* seminar_sticker */
.sidebar_seminar {
    margin: 0 0 40px;
}
.seminar_sticker {
    height: 260px;
    padding: 43px 50px 60px;
    background: #fff;
    position: relative;
}
.seminar_sticker > * {
    position: relative;
    z-index: 2;
}
.seminar_sticker:before,
.seminar_sticker:after {
    content: "";
    position: absolute;
    z-index: 1;
}
.seminar_sticker:before {
    left: 0;
    top: 0;
    width: 157px;
    height: 67px;
    background: url("/i/sprite.png") -256px -132px no-repeat;
}
.seminar_sticker:after {
    right: 0;
    bottom: 0;
    width: 132px;
    height: 72px;
    background: url("/i/sprite.png") -729px -397px no-repeat;
}
.seminar_sticker:before,
.seminar_sticker:after {
    content: "";
}
.seminar_sticker p {
    font-size: 14px;
    line-height: 16px;
    color: #363636;
}
.seminar_sticker_item {
    margin: 40px 0 0;
    overflow: hidden;
}
.seminar_sticker_item i {
    float: left;
    width: 40px;
    height: 40px;
    margin: 0 -40px 0 0;
    background-image: url("/i/sprite.png");
    background-repeat: no-repeat;
}
.seminar_sticker_item i.duration {
    background-position: -824px -209px;
}
.seminar_sticker_item i.price {
    background-position: -864px -209px;
}
.seminar_sticker_item i.materials {
    background-position: -904px -209px;
}
.seminar_sticker_item div {
    margin: 0 0 0 47px;
}
.seminar_sticker_item p {
    margin: 0 0 2px;
}
.seminar_sticker_item span {
    font-size: 16px;
    line-height: 16px;
    color: #058899;
}


/* registration */
.registration {
    width: 700px;
    margin: 0 auto 80px;
    border: 1px solid #cbe2e6;
    background: #eff7f8;
}
.reg_form {
    padding: 35px 60px 15px;
    color: #565656;
}
.reg_form p {
    display: table-cell;
    vertical-align: middle;
}
.reg_form p,
.reg_form label {
    font-size: 14px;
    height: 40px;
}
.reg_form > p {
    padding: 10px 0;
    vertical-align: top;
}
.reg_form fieldset {
    border: none;
    outline: none;
    overflow: hidden;
}
.reg_form label {
    float: left;
    width: 160px;
    height: 40px;
    line-height: 40px;
    margin: 0 -160px 25px 0;
}
.reg_form div.reg_form_right {
    margin: 0 0 25px 160px;
    color: #8a8783;
}
.reg_form fieldset div span {
    float: left;
    margin: 0 10px 0 0;
    line-height: 40px;
}
.reg_form fieldset div span.ik_select_link_text {
    float: none;
    margin: 0;
    line-height: 34px;
}
.reg_form .fld {
    height: 38px;
    line-height: 38px;
    padding: 0 4px;
    border: 1px solid #d9d3ca;
}
.reg_form input.fld_full_width {
    width: 320px;
}
.reg_form input.fld_code_width {
    width: 58px;
    float: left;
    margin: 0 10px 0 0;
}
.reg_form input.fld_phone_width {
    width: 215px;
    float: left;
}
.reg_form .example,
.cart_order_form .example {
    clear: both;
    font-size: 12px;
    font-style: italic;
    color: #8a8783;
    display: block;
    min-height: 40px;
}
.reg_form .phone_example {
    position: relative;
    top: -20px;
    margin: 0 0 -25px 185px;
}
.reg_form .address_example,
.cart_order_form .address_example {
    position: relative;
    top: 5px;
    margin: 0 0 -15px 140px;
}
.reg_form .reg_address_fieldset {

}
.reg_form .reg_address_fieldset > p,
.cart_order_form .reg_address_fieldset > p {
    float: left;
}
.reg_form .reg_address_fieldset .reg_form_right,
.cart_order_form .reg_address_fieldset .reg_form_right {
    color: #565656;
    margin: 0 0 10px 160px;
}
.reg_form .reg_address_fieldset label,
.cart_order_form .reg_address_fieldset label {
    width: 140px;
    margin: 0 -140px 0 0;
}
.reg_form .reg_address_fieldset .ik_select,
.cart_order_form .reg_address_fieldset .ik_select {
    width: 275px;
    margin: 0 0 0 140px;
}
.reg_form .reg_address_fieldset input,
.cart_order_form .reg_address_fieldset input {
    width: 269px;
    padding: 0 0 0 4px;
    margin: 0 0 0 140px;
}
.reg_form .inlay,
.cart_order_form .inlay {
    font-size: 13px;
    font-style: italic;
    line-height: 16px;
    color: #363636;
    height: auto;
    padding: 5px 20px;
    background: #d9d3ca;
    display: block;
}
.reg_form .reg_address_fieldset .inlay,
.cart_order_form .reg_address_fieldset .inlay {
    padding: 5px 20px;
    margin: 20px 5px -10px 0;
}
.reg_form .comment_fieldset .inlay,
.cart_order_form .comment_fieldset .inlay {
    padding: 15px 20px;
    margin: 0 0 20px;
    text-align: center;
}
.add_address {
    display: inline-block;
    margin: 10px 0 20px;
}
.reg_form .captcha {
    float: left;
    width: 145px;
    height: 38px;
    border: 1px solid #d9d3ca;
    margin-right: 22px;
}
.reg_form .fld_captcha_width {
    width: 237px;
}
.reg_form .checkbox {
    width: auto;
    line-height: 14px;
    color: #363636;
}
.reg_form .checkbox input {
    float: left;
    margin: 0 -10px 0 0;
}
.reg_form .checkbox i {
    font-style: normal;
    margin-left: 20px;
}


/* review */
.review_post {
    padding: 0 10px 33px;
    margin: 0 0 50px;
    position: relative;
    overflow: hidden;
}
.review_post_data {
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 10px;
    overflow: hidden;
}
.review_post_data span {
    font-weight: 900;
    color: #ee3b6f;
    text-align: left;
}
.review_post_data em {
    text-align: right;
}
.review_post_msg {
    padding: 0 35px 10px;
    position: relative;
}
.review_post_msg:before {
    content: "";
    position: absolute;
    width: 25px;
    height: 18px;
    left: 0;
    top: 0;
    background: url("/i/sprite.png") -873px 0 no-repeat;
}
.review_post_cmnt {
    padding: 0 65px;
    font-style: italic;
    color: #8a8783;
}


/* contacts */
.contacts {

}
.contacts_list {
    height: 220px;
    padding: 0 0 60px;
    position: relative;
    margin: 0 0 50px;
}
.contacts_list:after {
    content: "";
    height: 1px;
    width: 1080px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("/i/sprite-long.png") -100px -50px no-repeat;
}
.contact {
    float: left;
    width: 215px;
    height: 220px;
    text-decoration: none;
}
.contact_icon {
    width: 145px;
    height: 145px;
    margin:  0 auto 22px;
    position: relative;
    -webkit-border-radius: 73px;
    -moz-border-radius: 73px;
    -ms-border-radius: 73px;
    -o-border-radius: 73px;
    border-radius: 73px;
}
.contact_icon:before {
    content: "";
    width: 89px;
    height: 11px;
    position: absolute;
    top: 147px;
    left: 28px;
    background: url("/i/sprite.png") -256px -92px no-repeat;
}
.contact_icon_grey {
    width: 145px;
    height: 145px;
    position: relative;

    -webkit-border-radius: 73px;
    -moz-border-radius: 73px;
    -ms-border-radius: 73px;
    -o-border-radius: 73px;
    border-radius: 73px;
}
.contact_icon_blue {
    width: 145px;
    height: 145px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;

    -webkit-border-radius: 73px;
    -moz-border-radius: 73px;
    -ms-border-radius: 73px;
    -o-border-radius: 73px;
    border-radius: 73px;
}
.c_mail .contact_icon_grey {
    background: url("/i/sprite.png") 0 -210px no-repeat;
}
.c_mail .contact_icon_blue {
    background: url("/i/sprite.png") 0 -356px no-repeat;
}
.c_ok .contact_icon_grey {
    background: url("/i/sprite.png") -146px -210px no-repeat;
}
.c_ok .contact_icon_blue {
    background: url("/i/sprite.png") -146px -356px no-repeat;
}
.c_vk .contact_icon_grey {
    background: url("/i/sprite.png") -292px -210px no-repeat;
}
.c_vk .contact_icon_blue {
    background: url("/i/sprite.png") -292px -356px no-repeat;
}
.c_fb .contact_icon_grey {
    background: url("/i/sprite.png") -438px -210px no-repeat;
}
.c_fb .contact_icon_blue {
    background: url("/i/sprite.png") -438px -356px no-repeat;
}
.c_phone .contact_icon_grey {
    background: url("/i/sprite.png") -584px -210px no-repeat;
}
.c_phone .contact_icon_blue {
    background: url("/i/sprite.png") -584px -356px no-repeat;
}

.contact_title {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 24px;
    color: #8a8783;
    letter-spacing: 0.1em;
}
.contact_link {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
    line-height: 24px;
}
.contact:hover,
.contact:hover * {
    text-decoration: none;
}
.contact .contact_title {
    color: #8a8783;
}
.contact:hover .contact_icon_blue {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.contacts hgroup {
    position: relative;
    padding: 26px 50px 30px;
}
.contacts hgroup p {
    font-size: 13px;
    text-align: center;
    line-height: 16px;
    color: #565656;
}
.contacts hgroup address {
    font-size: 14px;
    font-style: normal;
    text-align: center;
    line-height: 18px;
    color: #07899a;
    padding: 25px 0 0;
    display: block;
}
.contacts .map {
    height: 600px;
    margin: 0 0 80px;
}


/* workshop about */
.autor {
    width: 1080px;
    min-height: 310px;
    padding: 0 50px;
    margin: 0 auto;
    background: url("/i/autor-bg.jpg") 0 -1px no-repeat #fff;
}
.autor_txt,
.autor_img {
    height: 310px;
    width: 540px;
    vertical-align: middle;
}
.autor_img {
    text-align: center;
}
.autor_txt h5 {
    font-size: 30px;
    font-weight: 400;
    color: #07899a;
    line-height: 36px;
    text-align: left;
    text-transform: capitalize;
    padding: 10px 50px 10px 70px;
}
.autor_txt p {
    font-size: 14px;
    font-weight: 400;
    color: #363636;
    line-height: 18px;
    text-align: left;
    padding: 0 50px 10px 70px;
}
.preimuschestva {

}
.preimuschestva .one {
    min-height: 520px;
    background: url("/i/orn-01.jpg") 100% 0 no-repeat;
}
.preimuschestva .two {
    min-height: 140px;
    background: url("/i/orn-02.jpg") 30px -10px no-repeat;
}
.preimuschestva .three {
    min-height: 210px;
    background: url("/i/orn-03.jpg") 0 0 no-repeat;
}
.preimuschestva .four {
    min-height: 65px;
    background: url("/i/orn-04.jpg") 0 0 no-repeat;
}
.preimuschestva .five {
    min-height: 65px;
    background: url("/i/orn-05.jpg") 0 0 no-repeat;
}
.preimuschestva .six {
    min-height: 65px;
    background: url("/i/orn-06.jpg") 0 0 no-repeat;
}
.preimuschestva .columns {
    margin-bottom: 50px;
}
.preimuschestva .aside,
.preimuschestva .section {
    margin-bottom: 20px;
}
.columns .aside,
.columns .section {
    padding-left: 26px;
}
.teacher {
    margin-bottom: 22px;
    border: 1px solid #d9d3ca;
}
.teacher img {
    display: block;
}
.teacher p {
    width: 303px;
    height: 56px;
    padding: 0 10px;
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    color: #058899;
    text-transform: uppercase;
    text-align: center;
    background: #fff;
}
.preimuschestva_num {
    float: left;
    width: 60px;
    margin: 0 -60px 0 0;
    font-family: Arial;
    font-size: 106px;
    font-weight: bold;
    line-height: 80px;
    color: #cceefa;
    text-align: center;
}
.preimuschestva_title:before {
    float: left;
    width: 60px;
    margin: 0 -65px;
    font-family: Arial;
    font-size: 106px;
    font-weight: bold;
    line-height: 80px;
    color: #cceefa;
    text-align: center;
}
.one .preimuschestva_title:before {
    content: "1";
}
.two .preimuschestva_title:before {
    content: "2";
}
.three .preimuschestva_title:before {
    content: "3";
}
.four .preimuschestva_title:before {
    content: "4";
}
.five .preimuschestva_title:before {
    content: "5";
}
.six .preimuschestva_title:before {
    content: "6";
}
.preimuschestva_title {
    height: 80px;
    margin: 0 0 20px 65px;
    color: #058899;
}
.preimuschestva_title span {
    display: block;
}
.one .preimuschestva_title {
    font-size: 57px;
    font-weight: 400;
    line-height: 50px;
}
.one .preimuschestva_title span {
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
}
.two .preimuschestva_title {
    font-size: 50px;
    font-weight: 400;
    line-height: 48px;
}
.two .preimuschestva_title span {
    font-size: 34px;
    font-weight: 300;
    line-height: 30px;
}
.three .preimuschestva_title {
    font-size: 70px;
    font-weight: 300;
    line-height: 48px;
}
.three .preimuschestva_title span {
    font-size: 27px;
    font-weight: 400;
    line-height: 30px;
}
.four .preimuschestva_title {
    font-size: 36px;
    font-weight: 300;
    line-height: 52px;
}
.four .preimuschestva_title span {
    font-size: 36px;
    font-weight: 400;
    line-height: 30px;
}
.five .preimuschestva_title {
    font-size: 37px;
    font-weight: 300;
    line-height: 52px;
}
.five .preimuschestva_title span {
    font-size: 33px;
    font-weight: 400;
    line-height: 36px;
}
.six .preimuschestva_title {
    font-size: 33px;
    font-weight: 300;
    line-height: 52px;
}
.six .preimuschestva_title span {
    font-size: 34px;
    font-weight: 400;
    line-height: 36px;
}
.preimuschestva_descr {
    margin: 0 0 20px 65px;
    font-size: 14px;
    line-height: 18px;
    color: #363636;
}
.more_title {
    font-size: 46px;
    font-weight: 400;
    line-height: 46px;
    color: #058899;
    margin: 0 0 50px;
    text-align: center;
}
.workshop_end {
    line-height: 28px;
    text-align: center;
    color: #058899;
    padding-bottom: 50px;
    background: url("/i/workshop-end-bg.png") 50% 100% no-repeat;
}
.workshop_end p {
    font-size: 22px;
    max-width: 920px;
    margin: 0 auto 25px;
}
.workshop_end h5 {
    font-size: 24px;
    font-weight: 600;
    max-width: 920px;
    margin: 0 auto 20px;
}

/* Pressa newspaper */
.newspaper {

}
.newspaper_post {
    margin: 0 0 80px;
    overflow: hidden;
}
.newspaper_head {
    height: 90px;
    padding: 0 20px;
    margin: 0 0 25px;
    background: #f9efe5;
    text-align: center;
}
.newspaper_head .table_cell {
    height: 90px;
    width: 1040px;
    vertical-align: middle;
}
.newspaper_head span {
    font-size: 16px;
    line-height: 24px;
    color: #8a8783;
}
.newspaper_wrapper {

}
.newspaper_post h3 {
    font-weight: 600;
    padding: 15px 0 10px;
    text-transform: none;
}
.newspaper_post img {
    width: 320px;
    height: 196px;
    border: 2px solid #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    display: block;
    margin-bottom: 20px;
}
.newspaper_post h6 {
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
    color: #363636;
    line-height: 16px;
    margin-bottom: 15px;
}
.newspaper_post p {
    color: #363636;
    line-height: 16px;
    margin-bottom: 15px;
}
.newspaper_post .more {
    padding: 10px 20px 0 0;
    overflow: hidden;
}
.newspaper_post .pseudolink {
    float: right;
    text-decoration: none;
    border-bottom: 1px dashed #058899;
    position: relative;
}
.newspaper_post .pseudolink:hover {
    text-decoration: none;
    border-bottom: 1px dashed #ee3c70;
}
.newspaper_post .pseudolink:after {
    content: "»";
    position: absolute;
    right: -17px;
    top: 0;
}


/* Education */
.sticker {
    height: 365px;
    padding: 4px 3px 0;
    background: #fff;
    border: 1px solid #D9D3CA;
    text-align: center;
    position: relative;
    margin: 0 0 70px;
}
.sticker_img {
    position: relative;
    margin: 0 0 20px;
}
.sticker_img,
.sticker_img img {
    display: block;
    border: none;
    position: relative;
    z-index: 2;
}
.sticker_img,
.sticker_img img,
.sticker_img .overlap,
.sticker_img .overlap:after {
    width: 317px;
    height: 195px;
}
.sticker_img .overlap {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    opacity: 0;

    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;

    font-size: 20px;
    line-height: 195px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
.sticker_img .overlap:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: #000;
}
.sticker_img:hover .overlap {
    opacity: 1;
}
.sticker_img:hover .overlap:after {
    opacity: 0.6;
}
.sticker_name {
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    color: #07899a;
    display: inline-block;
    margin: 0 0 12px;
}
.sticker p {
    font-size: 14px;
    line-height: 18px;
    color: #8a8783;
}
.sticker p span {
    font-size: 16px;
    line-height: 18px;
    color: #07899a;
}
.sticker .more {
    font-size: 14px;
    font-style: italic;
    line-height: 60px;
    color: #07899a;

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    margin: 0;
    border-top: 1px solid #D9D3CA;
}
.sticker .more:after {
    content: "";
    width: 76px;
    height: 41px;
    position: absolute;
    right: 0;
    bottom: 0px;
    background: url("/i/sprite.png") -730px -210px no-repeat;
}
.sticker .more a {
    line-height: 20px;
    margin-right: 20px;
    position: relative;
}
.sticker .more a:after {
    content: "»";
    position: absolute;
    right: -15px;
    top: 0px;
}

/* Education Coupon */
.coupons {
    padding: 0 0 10px;
    position: relative;
}
.coupons .columns {
    overflow: hidden;
}
.coupons .columns + .coupon_head {
    margin-top: 50px;
}
.coupon_head {
    background: none repeat scroll 0 0 #F9EFE5;
    height: 90px;
    margin: 0 0 40px;
    padding: 0 20px;
    text-align: center;
}
.coupon_head .table_cell {
    height: 90px;
    vertical-align: middle;
    width: 1040px;
}
.coupon {
    padding: 4px 3px 0;
    text-align: center;
    position: relative;
    margin-bottom: 40px;
}
.coupon figure {
    margin: 0 0 13px;
    position: relative;
}
.coupon figure,
.coupon img {
    width: 318px;
    height: 198px;
    display: block;
    border: none;
}
.coupon h3 {
    font-size: 16px;
    line-height: 16px;
    margin: -5px 0 20px;
}
.coupon_action {
    height: 35px;
    width: 136px;
    margin: 0 auto;
}
.coupon_buy {
    width: 136px;
    background-position: -42px -68px;
}
.coupon_buy:hover {
    background-position: -42px -102px;
}
.coupon_buy,
.coupon_buy:hover,
.coupon_buy span {
    text-decoration: none;
}
.coupon_rules {
    margin: 0 0 65px;
}
.coupon_rules h3 {
    font-size: 20px;
    text-align: left;
    line-height: 24px;
    margin: 0 0 15px;
}

/* timetable */
.timetable_head {
    background: url("/i/workshop-end-bg.png") no-repeat scroll 50% 100% rgba(0, 0, 0, 0);
    color: #058899;
    line-height: 28px;
    padding-bottom: 50px;
    text-align: center;
}
.timetable_head h4 {
    margin: -28px 0 8px;
}
.timetable h4 {
    letter-spacing: 0;
    margin: 0 0 80px;
}
.timetable h4 span {
    font-size: 38px;
    color: #07899a;
    margin: 0 0 0 10px;
}
.timetable table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 0 50px;
}
.timetable th {
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #8a8783;
    vertical-align: middle;
    border: 1px solid #d9d3ca;
}
.timetable td {
    font-size: 14px;
    line-height: 16px;
    vertical-align: middle;
    padding: 20px 0;
    border: 1px solid #d9d3ca;
}
.timetable tr.oddrows th,
.timetable tr.oddrows td {
    background: #ffffff;
}
.timetable tr.evenrows th,
.timetable tr.evenrows td {
    background: #f1efec;
}
.timetable td p {
    font-size: 14px;
    line-height: 18px;
    color: #363636;
}
.timetable .name {
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    width: auto;
}
.timetable .day {
    text-align: center;
    width: 115px;
}

.teacher_wrapper {
    margin: 0 0 40px;
}
.teacher_wrapper figure {
    float: left;
    width: 352px;
    margin: 0 -375px 0 0;
}
.teacher_wrapper figure,
.teacher_wrapper img {
    display: block;
}
.teacher_wrapper div {
    height: 232px;
    padding: 0 0 0 375px;
    display: table-cell;
    vertical-align: middle;
}
.teacher_wrapper .name {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    line-height: 24px;
    color: #058899;
    margin: 0 0 20px;
}
.teacher_wrapper p {
    line-height: 18px;
    margin: 0 0 15px;
}

.course_descr {
    padding: 35px;
    margin: 0 0 40px;
    background: #ffffff;
    border: 1px solid #d9d3ca;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.course_descr:after,
.course_descr:before {
    content: "";
    position: absolute;
    background-image: url("/i/sprite.png");
    background-repeat: no-repeat;
    z-index: -1;
}
.course_descr:before {
    left: 0;
    bottom: 0;
    width: 55px;
    height: 66px;
    background-position: -730px -252px;
}
.course_descr:after {
    right: 0;
    top: 0;
    width: 82px;
    height: 77px;
    background-position: -730px -319px;
}
.course_descr h5 {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    line-height: 24px;
    color: #058899;
    margin: 0 0 28px;
}
.course_descr p {
    line-height: 18px;
    margin: 0 0 18px;
}
.course_descr .left {
    padding-top: 10px;
    width: 33%;
}
.course_descr ol li {
    margin-left: 20px;
}

/* gallery */
.gallery_reduser {
    background: url("/i/gallery-bg.png") 50% 25px no-repeat;
}
.gallery_reduser .title_ornament span {
    position: relative;
    z-index: 2;
}
.gallery_reduser .title_ornament .flower {
    width: 111px;
    height: 125px;
    background: url("/i/sprite.png") -816px -251px no-repeat;
    position: absolute;
    right: -60px;
    top: -60px;
    z-index: 1;
}
.gallery_item {
    width: 276px;
    height: 240px;
    padding: 21px 28px 0 37px;
    margin: 0 -7px 90px -9px;
    background: url("/i/gallery-item.png") 50% 0 no-repeat;
    text-align: center;
    text-transform: uppercase;
}
.gallery_item figure {
    width: 276px;
    height: 179px;
    position: relative;
    margin: 0 0 40px;
}
.gallery_item figure a {
    position: relative;
    display: block;
    z-index: 1;
}
.gallery_item figure span {
    width: 40px;
    height: 125px;
    position: absolute;
    right: -10px;
    bottom: -8px;
    background: url("/i/sprite.png") -941px -209px no-repeat;
    z-index: 2;
}
.gallery_item a {
    font-size: 16px;
    font-weight: 400;
}

.gallery_photolist {
    margin: 0 -3px 65px;
    overflow: hidden;
}
.gallery_photo {
    width: 209px;
    height: 196px;
    border: 1px solid #ffffff;
    float: left;
    margin: 0 3px 6px;
    position: relative;
}
.gallery_photo img {
    display: block;
}
.gallery_photo:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    background: #363636;
    opacity: 0;
}
.gallery_photo:before {
    content: "";
    position: absolute;
    width: 37px;
    height: 37px;
    left: 50%;
    top: 50%;
    margin: -19px 0 0 -19px;
    z-index: 4;
    background: url("/i/sprite.png") -901px -1px no-repeat;
    opacity: 0;
}
.gallery_photo:hover:after,
.gallery_photo:hover:before {
    opacity: 0.8;

    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.gallery_photo img {
    display: block;
}

/* footer */
#footer_spacer {
    clear: both;
	height: 226px;
}
#footer {
	position: absolute;
	width: 100%;
	height: 195px;
    padding: 30px 0 0;
	left: 0;
	bottom: 0;
    border-top: 1px solid #4c9ba7;
    background: url("/i/footer-bg.gif") 0 0 repeat-x;
}
.f_logo {
    position: absolute;
    width: 289px;
    height: 187px;
    left: 91px;
    top: -34px;
    background: url("/i/footer-logo.png") 0 0 no-repeat;
}
.f_phone {
    float: right;
    position: relative;
    padding: 0 0 20px 30px;
    font-size: 26px;
    color: #8ff8f6;
    line-height: 34px;
    text-align: right;
    letter-spacing: 0.1em;
}
.f_phone_icon {
    width: 17px;
    height: 24px;
    left: 0;
    top: 6px;
    position: absolute;
    background: url('/i/sprite.png') -853px 0 no-repeat;
}
#footer address {
    clear: right;
    font-style: normal;
    display: block;
    overflow: hidden;
    margin: 0 0 10px;
}
#footer p {
    float: right;
    clear: right;
    text-align: right;
    font-size: 14px;
    line-height: 14px;
    color: #8ff8f6;
}
#footer a {
    color: #8ff8f6;
}
#footer a:hover {
    color: #ee3c70;
}

/* header network links */
.h_social {
    float: right;
    margin-left: 33px;
}
.h_social_item {
    width: 40px;
    height: 39px;
    display: inline-block;
    margin: 0 0 0 6px;
}
.h_social_item a {
    width: 40px;
    height: 39px;
    display: block;
    position: relative;
}
.h_social_item a:after,
.h_social_item a:before {
    content: "";
    width: 40px;
    height: 39px;
    position: absolute;
    left: 0;
    top: 0;

    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.h_social_item a:after,
.h_social_item a:hover:before {
    opacity: 1;
}
.h_social_item a:before,
.h_social_item a:hover:after {
    opacity: 0;
}
.h_mail:after {
    background: url('/i/sprite.png') 0 0 no-repeat;
}
.h_mail:before {
    background: url('/i/sprite.png') -195px 0 no-repeat;
}
.h_ok:after {
    background: url('/i/sprite.png') -51px 0 no-repeat;
}
.h_ok:before {
    background: url('/i/sprite.png') -246px 0 no-repeat;
}
.h_vk:after {
    background: url('/i/sprite.png') -101px 0 no-repeat;
}
.h_vk:before {
    background: url('/i/sprite.png') -296px 0 no-repeat;
}
.h_fb:after {
    background: url('/i/sprite.png') -150px 0 no-repeat;
}
.h_fb:before {
    background: url('/i/sprite.png') -345px 0 no-repeat;
}

/* footer network links */
.f_social {
    position: absolute;
    min-width: 200px;
    max-width: 300px;
    height: 39px;
    left: 50%;
    top: -31px;
    margin-left: -103px;
}
.f_social_item {
    width: 40px;
    height: 39px;
    display: inline-block;
    margin: 0 0 0 6px;
}
.f_social_item a {
    width: 40px;
    height: 39px;
    display: block;
    position: relative;
}
.f_social_item a:after,
.f_social_item a:before {
    content: "";
    width: 40px;
    height: 39px;
    position: absolute;
    left: 0;
    top: 0;

    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    -webkit-transition: position 0.5s;
    -moz-transition: position 0.5s;
    -o-transition: position 0.5s;
    transition: position 0.5s;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.f_social_item a:before,
.f_social_item a:hover:after {
    opacity: 0;
}
.f_social_item a:after,
.f_social_item a:hover:before {
    opacity: 1;
}
.f_mail:after {
    background: url('/i/sprite.png') 0 0 no-repeat;
}
.f_mail:before {
    background: url('/i/sprite.png') -195px 0 no-repeat;
}
.f_ok:after {
    background: url('/i/sprite.png') -51px 0 no-repeat;
}
.f_ok:before {
    background: url('/i/sprite.png') -246px 0 no-repeat;
}
.f_vk:after {
    background: url('/i/sprite.png') -101px 0 no-repeat;
}
.f_vk:before {
    background: url('/i/sprite.png') -296px 0 no-repeat;
}
.f_fb:after {
    background: url('/i/sprite.png') -150px 0 no-repeat;
}
.f_fb:before {
    background: url('/i/sprite.png') -345px 0 no-repeat;
}


/* type */
.clear {
	clear: both;
}
.invisible {
	visibility: hidden;
}
.hidden {
	display: none;
}
.table_cell {
    display: table-cell;
}
.align_center {
    text-align: center;
}