/* Main Menu */
#menu {
    height: 80px;
    background: #fff;
    position: relative;
    z-index: 5;
}

.menu {
    height: 73px;
    width: 1120px;
    padding: 7px 0 0;
    margin: 0 auto;
}
.menu a {
    white-space: nowrap;
    text-decoration: none;
}
.menu a:hover {
    color: #ee3c70;
}

.menu > li {
    float: left;
    position: relative;
    z-index: 1;
}
.menu > li.curr {
    font-weight: 600;
    color: #ee3c70;
}
.menu > li > a,
.menu > li > span {
    font-size: 18px;
    line-height: 68px;
    text-transform: uppercase;
    display: block;
    position: relative;
    padding: 0px 19px;
    border: 1px solid #fff;
    border-bottom: none;
    background: #fff;
    z-index: 2;
}

.menu .submenulink:hover > a,
.menu .submenulink.hover > a {
    border: 1px solid #dad4cb;
    border-bottom: none;
}

.menu .submenulink:hover,
.menu .submenulink.hover {
    z-index: 2;
}

.submenu {
	display: none;
}
.submenu > li {
    display: block;
	line-height: 44px;
    position: relative;
}
.submenu > li > a {
    font-size: 16px;
    color: #8a8783;
    display: block;
	line-height: 44px;
    padding: 0px 70px 0 40px;
    position: relative;
    z-index: 2;
}
.submenu > li:after {
    content: "»";
    position: absolute;
    left: 20px;
    top: 0px;
    font-size: 16px;
    z-index: 1;
    color: #8a8783;
}
.submenu > li:hover:after,
.submenu > li.hover:after {
    color: #ee3c70;
}
.submenu > li:hover,
.submenu > li.hover {
    background: #f5e8df;
}
.submenulink:hover .submenu,
.submenulink.hover .submenu {
    display: block;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 68px;
    border: 1px solid #dad4cb;
    padding: 0 0 45px;
    background: #fff;
    min-width: 100%;
}
.submenulink:hover .submenu:after,
.submenulink.hover .submenu:after {
    content: "";
    position: absolute;
    width: 116px;
    height: 48px;
    right: 0;
    bottom: 0;
    background: url("/i/sprite.png") -312px -43px no-repeat;
}

.sublevelmenu {
    display: none;
}
.sublevelmenu li {
     display: block;
     line-height: 44px;
 }
.sublevelmenu a {
    font-size: 16px;
    color: #8a8783;
    display: block;
    line-height: 44px;
    padding: 0px 40px 0 25px;
    position: relative;
}
.sublevelmenulink > a:hover:before,
.sublevelmenulink > a.hover:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    right: 23px;
    top: 17px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    background: #ee3c70;
    z-index: 1;

}
.sublevelmenulink > a:hover:after,
.sublevelmenulink > a.hover:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 3px;
    top: 50%;
    margin-top: -2px;
    right: 24px;
    border-left-color: #ffffff;
    z-index: 2;
}

.sublevelmenulink:hover .sublevelmenu,
.sublevelmenulink.hover .sublevelmenu {
    display: block;
    position: absolute;
    z-index: 1;
    left: 100%;
    top: -1px;
    border: 1px solid #dad4cb;
    padding: 0 0 15px;
    background: #fff;
    min-width: 100%;
}