/* sertificate */
.sertificate {
    height: 310px;
    background: url("/i/sertificate-bg.jpg") 50% 0 no-repeat #fff;
    position: relative;
    z-index: 5;
}
.sertificate h3 {
    padding: 112px 0 25px 24px;
    height: 54px;
    text-align: center;
    position: relative;
    z-index: 3;
}
.sertificate ul {
    height: 70px;
    padding-right: 80px;
    text-align: center;
}
.sertificate li {
    display: inline-block;
    height: 70px;
    min-width: 210px;
    max-width: 260px;
    margin: 0px 15px;
}
.sertificate span {
    float: left;
    margin: 0 10px 0 0;
    font-family: Arial;
    font-size: 92px;
    font-weight: bold;
    line-height: 70px;
    color: #cceefa;
    text-transform: uppercase;
}
.sertificate p {
    float: left;
    font-size: 24px;
    line-height: 22px;
    color: #058899;
    text-align: left;
    text-transform: uppercase;
}
.sertificate strong {
    display: block;
    text-transform: lowercase;
    font-weight: 900;
    margin-top: 2px;
}
