/* flexslider #main_slider  */
#header.mainpage .slider {
    overflow: hidden;
}
#header.mainpage .slider,
#main_slider.flexslider {
	width: 100%;
	height: 720px;
	left: 0;
	top: 0;
	position: absolute;
	z-index: 1;
}
#main_slider .slides {
	height: 720px;
}
#main_slider .slide_item {
	width: 100%;
	height: 720px;
	background: #fff;
	position: relative;
	overflow: hidden;
}
#main_slider .slide_img {
	width: 1920px;
	height: 720px;
	top: 0;
	left: 50%;
	margin-left: -960px;
	position: absolute;
	z-index: 1;
}
#header #main_slider .reduser {
	height: 310px;
	padding: 410px 50px 0;
	z-index: 2;
}
#main_slider .slide_title {
    margin: 0 0 4px -13px;
}
#main_slider .slide_link {
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
}
#main_slider .slide_link:after {
    content: "»";
    position: absolute;
    right: -20px;
    top: -1px;
}

/* flexslider #main_slider  */
#last_news.flexslider {
    height: 310px;
    margin-bottom: 20px;
}
#last_news .slides {
    height: 290px;
}
#last_news .flex-control-nav {
    height: 20px;
    text-align: center;
}
#last_news .flex-control-nav li {
    width: 16px;
    height: 16px;
    padding: 2px;
    margin: 0 5px;
}
#last_news .flex-control-paging li a {
    width: 16px;
    height: 16px;
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    background: #058899;
    display: block;
}
#last_news .flex-control-paging li a:hover {
    background: #fff;
    border: 2px solid #058899;
    margin: -2px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
#last_news .flex-control-paging li a.flex-active {
    background: #fff;
    border: 2px solid #058899;
    margin: -2px;
    cursor: default;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}


/* flexslider #main_slider  */
#pict_slider.flexslider {
    width: 700px;
    height: 365px;
    border: 1px solid #d9d3ca;
    position: relative;
    margin: 0 0 40px;
}
#pict_slider .slides {
    width: 700px;
    height: 365px;
    position: relative;
    z-index: 1;
}
#pict_slider .flex-control-nav {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 19px 0 15px;
    z-index: 2;
    text-align: center;
}
#pict_slider .flex-control-nav:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.8;
    z-index: -1;
}

/* flexslider #main_slider  */
#widget_slider.flexslider {

}
#widget_slider .slides {
    height: auto;
}
#widget_slider .flex-control-nav {
    height: 20px;
    text-align: center;
}
#widget_slider .flex-control-nav li,
#pict_slider .flex-control-nav li {
    width: 14px;
    height: 14px;
    padding: 2px;
    margin: 0 5px;
}
#widget_slider .flex-control-paging li a,
#pict_slider .flex-control-paging li a {
    width: 14px;
    height: 14px;
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    background: #058899;
    display: block;
}
#widget_slider .flex-control-paging li a:hover,
#pict_slider .flex-control-paging li a:hover {
    background: #fff;
    border: 2px solid #058899;
    margin: -2px;

    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -o-border-radius: 9px;
    border-radius: 9px;
}
#last_news .flex-control-paging li a.flex-active,
#widget_slider .flex-control-paging li a.flex-active,
#pict_slider .flex-control-paging li a.flex-active {
    background: #fff;
    border: 2px solid #058899;
    margin: -2px;
    cursor: default;

    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -o-border-radius: 9px;
    border-radius: 9px;
}

/* Control Nav */
.flex-viewport {
    z-index: 1;
}
.flex-control-nav li {
	margin: 0 15px 0 0; 
	display: inline-block; 
	zoom: 1; 
	*display: inline;
}

/* Control Nav #main_slider */
#main_slider .flex-control-nav {
	position: absolute;
	height: 39px;
	bottom: 0;
	left: 50%;
	margin-left: -540px;
	z-index: 2;
}
#main_slider .flex-control-nav li {
    margin: 0 11px 0 0;
}
#main_slider .flex-control-paging li a {
	width: 33px;
	height: 39px;
	display: block; 
	background: url('/i/sprite.png') -756px 0 no-repeat;
	cursor: pointer; 
	text-indent: -9999px; 
	-webkit-border-radius: 10px 10px 0px 0px; 
	-moz-border-radius: 10px 10px 0px 0px; 
	-o-border-radius: 10px 10px 0px 0px; 
	border-radius: 10px 10px 0px 0px;
}
#main_slider .flex-control-paging li a:hover {
	background: url('/i/sprite.png') -793px 0 no-repeat;
}
#main_slider .flex-control-paging li a.flex-active {
	background: url('/i/sprite.png') -793px 0 no-repeat;
	cursor: default;
}
/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {list-style: none;}


/* FlexSlider Necessary Styles
*********************************/
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider {zoom: 1; }
.flex-viewport { max-height: 720px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { display: block; width: 40px; height: 40px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; text-align: right; }
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 40px; display: inline-block; content: '\f001'; }
.flex-direction-nav a.flex-next:before  { content: '\f002'; } */

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }


.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}