/* head static */
#logo {
    width: 369px;
    height: 216px;
	left: 50px;
	top: 20px;
	position: absolute;
    background: url('/i/logo-inner.png') 0 0 no-repeat;
}
#logo a {
	width: 369px;
	height: 216px;
	display: block;
}

.mainpage #logo {
	width: 471px;
	height: 267px;
	background: url('/i/logo.png') 0 0 no-repeat;
}
.mainpage #logo a {
	width: 471px;
	height: 267px;
	display: block;
}

.top {
	float: right;
	height: 40px;
	margin: 0 0 40px;
}
.search_block {
	float: right;
	width: 310px;
	height: 36px;
	margin-left: 38px;
	background: #fff;
	border: 2px solid #cef9ff;
	border-top: none;
	-webkit-border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	-ms-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
	position: relative;
}
.search_fld {
	float: left;
	width: 230px;
	height: 36px;
	padding-left: 30px;
	border: none;
	outline: none;
	background: none;
	position: relative;
	z-index: 1;

    font-family: 'Open Sans';
    font-style: italic;
    color: #058899;
}
.search_btn {
	right: -1px;
	top: 0;
	width: 50px;
	height: 39px;
	z-index: 2;
	position: absolute;
	background: url('/i/sprite.png') -392px 0 no-repeat;
	border: none;
	outline: none;
	cursor: pointer;
}
.h_phone {
	float: right;
	padding-left: 30px;
	position: relative;
	
	font-size: 26px;
	color: #058899;
	line-height: 48px;
    letter-spacing: 0.05em;
}
.h_phone_icon {
	width: 13px;
	height: 20px;
	left: 2px;
	top: 15px;
	position: absolute;
	background: url('/i/sprite.png') -833px 0 no-repeat;
}

#login_block {
	float: right;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #058899;
	margin: 0 0 20px;
}

/* cart */
#cart {
	float: right;
	height: 60px;
	width: 150px;
	padding: 0 0 0 20px;
	text-align: right;
	position: relative;
}
#cart.full .cart_full,
#cart.empty .cart_empty {
	display: block;
}
#cart.empty .cart_full,
#cart.full .cart_empty {
	display: none;
}
.cart_icon {
	width: 131px;
	height: 132px;
	position: absolute;
	left: -37px;
	top: -24px;
}
#cart.full  .cart_icon {
	background: url('/i/sprite.png') -496px 0 no-repeat;
}
#cart.empty  .cart_icon {
	background: url('/i/sprite.png') -627px 0 no-repeat;
}
.cart_title {
	font-size: 18px;
	line-height: 18px;
	color: #058899;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 9px;
    padding-left:9px;
}
.cart_num {
	font-size: 14px;
	line-height: 16px;
	color: #058899;
}
.cart_sum {
	font-size: 16px;
	line-height: 22px;
	color: #ee3c70;
    letter-spacing: 0.1em;
}
.cart_empty p {
	font-size: 14px;
	line-height: 36px;
	color: #058899;
}


















